{% extends "default.html"%}
{% load static%}

{% block title %}
Личный кабинет
{% endblock title %}

{% block type_main %}
<main class="container container-white" id="main">
    {% endblock type_main %}

    {% block section %}
    <section class="white-section-100">
        <div class="lk-box">


            <h1 class="h1-white h1-white-margin-b">Личный кабинет</h1>
            <div class=user-data>
                <div class="user-avatar">
                    <img class="user-avatar-img" src="/static/imgs/ava-default.svg"
                    >
                    <!--                     src="{{request.user.avatar}}"-->

                    <nav>
                        <a href="#">изменить</a>
                        <a href="#">удалить</a>
                    </nav>
                </div>

                <div class="user-info">
                    <p><strong>Фамилия</strong>: {{request.user.avatar}}
                        <a href="#">изменить</a>
                    </p>
                    <p><strong>Имя:</strong> {{request.user.fname}}
                        <a href="#">изменить</a>
                    </p>
                    <p><strong>Эл. почта:</strong> {{request.user.email}}
                        <a href="#">изменить</a>
                    </p>
                    <p><strong>Псевдоним:</strong> {{request.user.username}}
                        <a href="#">изменить</a>
                    </p>
                    <p class=p-row-action>
          <span class="profile-button">
            <a href='#'>сменить пароль</a>
          </span>
                        <span class="profile-button exit-link">
            <a href="{% url 'log_out-link' %}">Выйти</a>
          </span>
                    </p>

                </div>
            </div>


            <!-- Подписки -->
            <main class="profile-main">
                <div class="subsribtions">
                    {% if subscribed %}
                    <p class="subsribtions-title">Ваши подписки:</p>
                    <form method="POST" action="{% url 'subscriptions' %}">
                        <input type="hidden" name='action' value="unsubscibe">
                        {% csrf_token %}

                        <ul class="subscriptions-list">
                        {% for cat in request.user.category_set.all %}
                        <li>
                            <span>{{cat.name}}</span>
                            <button class="reuse-btn" type="submit" name="category" value="{{cat.id}}">
                                отписаться
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                    </form>

                    {% else %}
                    <p class="subsribtions-title">У вас нет активных подписок</p>
                    {% endif %}
                </div>


                <div class="profile-actions">

                    {% if not premium %}
                    <p class="profile-button">Для размещения и редактирования новостей нужны авторсие права
                        <a href="{% url 'upgrade-link' %}"> Получить права</a></p>
                    {% else %}
                    <p class="profile-button"><a href="{% url 'downgrade-link' %}">Отказаться от авторских прав</a></p>
                    {% endif %}

                    <p class="profile-button"><a href="{% url 'confirm-comments-link' %}">Не подтвержденные комментарии к вашим статьям</a></p>

                </div>


            </main>
        </div>


        {% block pagination %}
        {% endblock pagination %}
    </section>
    {% endblock section %}

    {% block aside%}
    {% endblock aside%}